* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  min-height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100px 1fr;
  /* height: 100vh; */
}
.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 3fr;
  gap: 45px;
}
.dashboard-caption {
  margin-left: 30px;
  align-self: center;
  font-size: 1.8rem;
}
.sidebar > div > ul > li {
  list-style: none;
  margin-left: 30px;
  padding: 5px 0 5px 0;
}
.navigation {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 0;
  grid-template-rows: 50px 50px;
  column-gap: 33px;
}
.form-wrapper {
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#search {
  background-color: rgb(231, 225, 225);
  border: none;
  width: 60%;
  border-radius: 5px;
}
.noti {
  display: flex;
  gap: 15px;
  align-self: center;
}
.noti :nth-child(1) {
  border-radius: 50%;
  border: 1px solid red;
  padding: 4px;
}
.noti :nth-child(2) {
  border-radius: 50%;
  border: solid 1px green;
  padding: 10px;
}
.username {
  display: flex;
  align-items: center;
}
.username span {
  border-radius: 50%;
  border: 1px solid red;
  padding: 11px;
  margin-right: 10px;
}
.username div p:nth-child(1) {
  font-size: 0.8rem;
}
.user-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-self: center;
  margin-right: 20px;
  /* grid-auto-flow: column; */
}
.user-buttons > button {
  border-radius: 5px;
  border: none;
  height: 35px;
}
.content {
  display: grid;
  grid-area: 2 / 2 / -1 / -1;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}
.main-content div:first-child {
  grid-area: 1 / 1 / 2 / -1;
  margin-bottom: 15px;
  /* height: 5px; */
}
.main-content {
  display: grid;
  grid-area: 1 / 1 / -1 / -2;
  grid-template-rows: 15px repeat(auto-fit, 220px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 5px;
}

.main-content > :nth-child(n + 2) {
  border: 1px solid blue;
  height: 200px;
}
.side-content {
  display: grid;
  grid-area: 1 / -2 / -1 / -1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 1fr 15fr;
  gap: 5px;
}
.announcement,
.trending {
  border: 1px solid yellowgreen;
}
